.env
.git
.gitignore
.github
.vscode
.idea
node_modules
vendor
tests
*.md
*.log
.DS_Store
composer.lock
phpunit.xml
docker-compose.yml
# Don't ignore these:
!storage/.gitignore
!bootstrap/cache/.gitignore